/* index */

/* 判斷主選單最後一個 li */
.main-nav a:last-child,
.footer-nav li:last-child {
  margin-right: var(--spacing-0);
}

.new-arrival li:nth-last-child(-n + 2),
.series li:nth-last-child(-n + 2) {
  margin-bottom: var(--spacing-0) !important;
}

.bg-hero {
  background: url(../img/banner-sm.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-cross {
  background: url(../img/banner-co-branded-sm.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-shoes-series-6 {
  background:
    linear-gradient(var(--mask-black-o40), var(--mask-black-o40)),
    url(../img/product-6.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-shoes-series-11 {
  background:
    linear-gradient(var(--mask-black-o40), var(--mask-black-o40)),
    url(../img/product-11.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-shoes-series-9 {
  background:
    linear-gradient(var(--mask-black-o40), var(--mask-black-o40)),
    url(../img/product-9.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-shoes-series-10 {
  background:
    linear-gradient(var(--mask-black-o40), var(--mask-black-o40)),
    url(../img/product-10.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* RWD */
@media (min-width: 576px) {
  /* 背景 */

  .bg-sm-hero {
    background: url(../img/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-sm-cross {
    background: url(../img/banner-co-branded.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
