body {
  font-family: "Noto Sans", sans-serif;
  line-height: var(--lh-1p5);
  color: var(--neutral-900);
  letter-spacing: var(--ls-5);
}

a {
  text-decoration: none;
  display: block;
  color: var(--neutral-900);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
