/* 
  =============
  !!!!!行高!!!!!
  =============
*/

/* 1.2倍 */
.lh-1p2 {
  line-height: 1.2;
}

/* 1.5倍 */
.lh-1p5 {
  line-height: 1.5;
}

/* 
  =============
  !!!!!顏色!!!!!
  =============
*/

/* 文字顏色 */
/* primary */
.text-primary-500 {
  color: var(--primary-500);
}

/* neutral */
.neutral-0 {
  color: var(--neutral-0);
}

.text-neutral-600 {
  color: var(--neutral-600);
}

.text-neutral-900 {
  color: var(--neutral-900);
}

.text-neutral-0 {
  color: var(--neutral-0);
}

/* 背景顏色 */
/* primary */
.bg-primary-200 {
  background: var(--primary-200);
}

.bg-primary-300 {
  background: var(--primary-300);
}

/* neutral */
.bg-neutral-900 {
  background: var(--neutral-900);
}

.bg-neutral-700 {
  background: var(--neutral-700);
}

/* 外邊框顏色 */
.border-neutral-300 {
  border: var(--neutral-300);
}

/* 
  ================
  !!!!!字體尺寸!!!!!
  ================
*/
/* 大尺寸 */
/* 64px */
.display-1 {
  font-size: var(--display-1) !important;
}

/* 28px */
.fs-3 {
  font-size: var(--fs-3) !important;
}

/* 24px */
.fs-4 {
  font-size: var(--fs-4) !important;
}

/* 小尺寸 */
/* 14px */
.fs-7 {
  font-size: var(--fs-7) !important;
}

/* 
  =============
  !!!!!間距!!!!!
  =============
*/

/* padding */
/* 16px */
.p-3 {
  padding: var(--spacing-s);
}

/* 12px */
.p-7 {
  padding: var(--spacing-m);
}

/* padding-top + padding-bottom  */
/* 16px */
.py-3 {
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}

/* 24px */
.py-4 {
  padding-top: var(--spacing-l);
  padding-bottom: var(--spacing-l);
}

/* 12px */
.py-7 {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}

/* 64 */
.py-9 {
  padding-top: var(--spacing-5xl);
  padding-bottom: var(--spacing-5xl);
}

/* 400 */
.py-hero {
  padding-top: var(--spacing-hero);
  padding-bottom: var(--spacing-hero);
}

/* 48px */
.pt-5 {
  padding-top: var(--spacing-3xl);
}

/* 32px */
.pt-10 {
  padding-top: var(--spacing-xl);
}

/* padding-left */
/* 200px */
.ps-8 {
  padding-left: var(--spacing-13);
}

/* margin */
/* 24px */
.me-4 {
  margin-right: var(--spacing-l);
}

/* 48px */
.me-5 {
  margin-right: var(--spacing-3xl);
}

/* 40px */
.me-6 {
  margin-right: var(--spacing-2xl);
}

/* 4px */
.mb-1 {
  margin-bottom: var(--spacing-xxs);
}

/* 16px */
.mb-3 {
  margin-bottom: var(--spacing-s);
}

/* 24px */
.mb-4 {
  margin-bottom: var(--spacing-l);
}

/* 48px */
.mb-5 {
  margin-bottom: var(--spacing-3xl);
}
