/* 
  =============
  !!!!!行高!!!!!
  =============
*/

/* 1.2倍 */
.lh-1p2 {
  line-height: 1.2 !important;
}

/* 1.5倍 */
.lh-1p5 {
  line-height: 1.5 !important;
}

/* 
  =============
  !!!!!顏色!!!!!
  =============
*/

/* 文字顏色 */
/* primary */
.text-primary-300 {
  color: var(--primary-300);
}

.text-primary-400 {
  color: var(--primary-400);
}

.text-primary-500 {
  color: var(--primary-500);
}

/* neutral */
.neutral-0 {
  color: var(--neutral-0);
}

.text-neutral-500 {
  color: var(--neutral-500);
}

.text-neutral-600 {
  color: var(--neutral-600);
}

.text-neutral-900 {
  color: var(--neutral-900);
}

.text-neutral-0 {
  color: var(--neutral-0);
}

/* functional */
/* danger */

.text-danger-300 {
  color: var(--functional-dnager-300);
}

/* 背景顏色 */
/* primary */
.bg-primary-100 {
  background: var(--primary-100);
}

.bg-primary-200 {
  background: var(--primary-200);
}

.bg-primary-300 {
  background: var(--primary-300);
}

/* neutral */
.bg-neutral-0 {
  background: var(--neutral-0);
}

.bg-neutral-200 {
  background: var(--neutral-200);
}

.bg-neutral-300 {
  background: var(--neutral-300);
}

.bg-neutral-400 {
  background: var(--neutral-400);
}

.bg-neutral-600 {
  background: var(--neutral-600);
}

.bg-neutral-700 {
  background: var(--neutral-700);
}

.bg-neutral-900 {
  background: var(--neutral-900);
}

/* 外邊框顏色 */
.border-neutral-300 {
  border: var(--neutral-300);
}

.border-neutral-900 {
  border-color: var(--neutral-900) !important;
}

/* 
  ================
  !!!!!字體尺寸!!!!!
  ================
*/
/* 大尺寸 */
/* 64px */
.display-1 {
  font-size: var(--display-1) !important;
}

/* 48px */
.display-2 {
  font-size: var(--display-2) !important;
}

/* 40px */
.fs-1 {
  font-size: var(--fs-1) !important;
}

/* 32px */
.fs-2 {
  font-size: var(--fs-2) !important;
}

/* 28px */
.fs-3 {
  font-size: var(--fs-3) !important;
}

/* 24px */
.fs-4 {
  font-size: var(--fs-4) !important;
}

/* 20px */
.fs-5 {
  font-size: var(--fs-5) !important;
}

/* 16px */
.fs-6 {
  font-size: var(--fs-6) !important;
}

/* 小尺寸 */
/* 14px */
.fs-7 {
  font-size: var(--fs-7) !important;
}

/* 
  =============
  !!!!!間距!!!!!  下一次#23
  =============
*/

/* padding */
/* 4px */
.p-1 {
  padding: var(--spacing-xxs);
}

/* 6px */
.p-19 {
  padding: var(--spacing-18);
}

/* 8px */
.p-2 {
  padding: var(--spacing-xs);
}

/* 16px */
.p-3 {
  padding: var(--spacing-s);
}

/* 12px */
.p-7 {
  padding: var(--spacing-m);
}

/* 32px */
.p-10 {
  padding: var(--spacing-xl);
}

/* 10px */
.p-18 {
  padding: var(--spacing-20);
}

/* padding-top、padding-bottom  */
/* 4px */
.py-1 {
  padding-top: var(--spacing-xxs);
  padding-bottom: var(--spacing-xxs);
}

/* 8px */
.py-2 {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}

/* 16px */
.py-3 {
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}

/* 24px */
.py-4 {
  padding-top: var(--spacing-l);
  padding-bottom: var(--spacing-l);
}

/* 48px */
.py-5 {
  padding-top: var(--spacing-3xl);
  padding-bottom: var(--spacing-3xl);
}

/* 12px */
.py-7 {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}

/* 64px */
.py-9 {
  padding-top: var(--spacing-5xl);
  padding-bottom: var(--spacing-5xl);
}

/* 32px */
.py-10 {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

/* 153px */
.py-13 {
  padding-top: var(--spacing-16);
  padding-bottom: var(--spacing-16);
}

/* 155px */
.py-14 {
  padding-top: var(--spacing-17);
  padding-bottom: var(--spacing-17);
}

/* 40px */
.py-15 {
  padding-top: var(--spacing-2xl);
  padding-bottom: var(--spacing-2xl);
}

/* 85px */
.py-17 {
  padding-top: var(--spacing-19);
  padding-bottom: var(--spacing-19);
}

/* 120px */
.py-20 {
  padding-top: var(--spacing-21);
  padding-bottom: var(--spacing-21);
}

/* 88px */
.py-22 {
  padding-top: var(--spacing-23);
  padding-bottom: var(--spacing-23);
}

/* padding-left、padding-right */
/* 4px */
.px-1 {
  padding-left: var(--spacing-xxs);
  padding-right: var(--spacing-xxs);
}

/* 12px */
.px-7 {
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
}

/* 24px */
.px-4 {
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
}

/* 6px */
.px-16 {
  padding-left: var(--spacing-18);
  padding-right: var(--spacing-18);
}

/* 8px */
.px-2 {
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
}

/* 16px */
.px-3 {
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
}

/* 80px */
.px-19 {
  padding-left: var(--spacing-6xl);
  padding-right: var(--spacing-6xl);
}

/* 110px */
.px-21 {
  padding-left: var(--spacing-22);
  padding-right: var(--spacing-22);
}

/* 24px */
.pt-4 {
  padding-top: var(--spacing-l);
}

/* 48px */
.pt-5 {
  padding-top: var(--spacing-3xl);
}

/* 32px */
.pt-10 {
  padding-top: var(--spacing-xl);
}

/* 100px */
.pt-11 {
  padding-top: var(--spacing-14);
}

/* padding-left */
/* 200px */
.ps-8 {
  padding-left: var(--spacing-13);
}

/* 8px */
.ps-2 {
  padding-left: var(--spacing-xs);
}

/* 12px */
.ps-7 {
  padding-left: var(--spacing-m);
}

/* padding-bottom */
/* 8px */
.pb-2 {
  padding-bottom: var(--spacing-xs);
}

/* 32px */
.pb-10 {
  padding-bottom: var(--spacing-xl);
}

/* 48px */
.pb-5 {
  padding-bottom: var(--spacing-3xl);
}

/* 8px */
.pe-2 {
  padding-right: var(--spacing-xs);
}

/* margin */
/* 8px */
.me-2 {
  margin-right: var(--spacing-xs) !important;
}

/* 16px */
.me-3 {
  margin-right: var(--spacing-s);
}

/* 24px */
.me-4 {
  margin-right: var(--spacing-l);
}

/* 48px */
.me-5 {
  margin-right: var(--spacing-3xl);
}

/* 40px */
.me-6 {
  margin-right: var(--spacing-2xl);
}

/* 12px */
.me-7 {
  margin-right: var(--spacing-m);
}

/* 12px */
.ms-7 {
  margin-left: var(--spacing-m);
}

/* 4px */
.mb-1 {
  margin-bottom: var(--spacing-xxs);
}

/* 12px */
.mb-7 {
  margin-bottom: var(--spacing-m);
}

/* 8px */
.mb-2 {
  margin-bottom: var(--spacing-xs);
}

/* 16px */
.mb-3 {
  margin-bottom: var(--spacing-s);
}

/* 24px */
.mb-4 {
  margin-bottom: var(--spacing-l);
}

/* 32px */
.mb-10 {
  margin-bottom: var(--spacing-xl);
}

/* 40px */
.mb-6 {
  margin-bottom: var(--spacing-2xl);
}

/* 48px */
.mb-5 {
  margin-bottom: var(--spacing-3xl);
}

/* 84px */
.mb-12 {
  margin-bottom: var(--spacing-15);
}

/* 負值 */
/* -4px */
.mx-n-1 {
  margin-left: var(--spacing-n-xxs);
  margin-right: var(--spacing-n-xxs);
}

/* -6px */
.mx-n-2 {
  margin-left: var(--spacing-n-1);
  margin-right: var(--spacing-n-1);
}

/* -12px */
.mx-n-3 {
  margin-left: var(--spacing-n-2);
  margin-right: var(--spacing-n-2);
}

/* -8px */
.mx-n-4 {
  margin-left: var(--spacing-n-3);
  margin-right: var(--spacing-n-3);
}

/* max-width */

/* 300px */
.max-w-1 {
  max-width: var(--max-m-1);
}

/* 196px */
.max-w-2 {
  max-width: var(--max-m-2);
}

/* 526px */
.max-w-3 {
  max-width: var(--max-m-3);
}

/* 64px */
.max-w-4 {
  max-width: var(--max-m-4);
}

/* 120px */
.max-w-5 {
  max-width: var(--max-m-5);
}

/* 636px */
.max-w-6 {
  max-width: var(--max-m-6);
}

/* min-width */
.min-w-1 {
  min-width: var(--spacing-s);
}

/* 
  =============
  !!!!!圓角!!!!! 
  =============
*/
/* 12px */
.radius-1 {
  border-radius: var(--radius-md);
}

/* 
  =============
  !!!!!RWD!!!!!
  =============
*/

/* RWD 576px */
@media (min-width: 576px) {
  .py-sm-hero {
    padding-top: var(--spacing-hero) !important;
    padding-bottom: var(--spacing-hero) !important;
  }

  /* 200px */
  .ps-sm-8 {
    padding-left: var(--spacing-13) !important;
  }

  /* 
  ================
  !!!!!字體尺寸!!!!!
  ================
*/
  /* 大尺寸 */
  /* 64px */
  .display-sm-1 {
    font-size: var(--display-1) !important;
  }

  /* 48px */
  .display-sm-2 {
    font-size: var(--display-2) !important;
  }

  /* 20px */
  .fs-sm-5 {
    font-size: var(--fs-5) !important;
  }

  /* 24px */
  .fs-sm-4 {
    font-size: var(--fs-4) !important;
  }

  /* 28px */
  .fs-sm-3 {
    font-size: var(--fs-3) !important;
  }

  /* 32px */
  .fs-sm-2 {
    font-size: var(--fs-2) !important;
  }

  /* 16px */
  .fs-sm-6 {
    font-size: var(--fs-6) !important;
  }

  /* 40px */
  .fs-sm-1 {
    font-size: var(--fs-1) !important;
  }

  /* 
  =============
  !!!!!間距!!!!! 
  =============
*/

  /* 8px */
  .p-sm-2 {
    padding: var(--spacing-xs);
  }

  /* 100px */
  .pt-sm-11 {
    padding-top: var(--spacing-14) !important;
  }

  /* 48px */
  .pt-sm-5 {
    padding-top: var(--spacing-3xl);
  }

  /* padding-bottom */
  /* 8px */
  .pb-sm-2 {
    padding-bottom: var(--spacing-xs);
  }

  /* 48px */
  .pb-sm-5 {
    padding-bottom: var(--spacing-3xl) !important;
  }

  /* 12px */
  .px-sm-7 {
    padding-left: var(--spacing-m) !important;
    padding-right: var(--spacing-m) !important;
  }

  /* 24px */
  .px-sm-4 {
    padding-left: var(--spacing-l);
    padding-right: var(--spacing-l);
  }

  /* 80px */
  .px-sm-19 {
    padding-left: var(--spacing-6xl);
    padding-right: var(--spacing-6xl);
  }

  /* 32px */
  .px-sm-10 {
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
  }

  /* 48px */
  .py-sm-5 {
    padding-top: var(--spacing-3xl);
    padding-bottom: var(--spacing-3xl);
  }

  /* 64px */
  .py-sm-9 {
    padding-top: var(--spacing-5xl) !important;
    padding-bottom: var(--spacing-5xl) !important;
  }

  /* 32px */
  .py-sm-10 {
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
  }

  /* 153px */
  .py-sm-13 {
    padding-top: var(--spacing-16);
    padding-bottom: var(--spacing-16);
  }

  /* 120px */
  .py-sm-20 {
    padding-top: var(--spacing-21);
    padding-bottom: var(--spacing-21);
  }

  /* 24px */
  .me-sm-4 {
    margin-right: var(--spacing-l);
  }

  /* 40px */
  .me-sm-6 {
    margin-right: var(--spacing-2xl);
  }

  /* 12px */
  .mb-sm-7 {
    margin-bottom: var(--spacing-m);
  }

  /* 16px */
  .mb-sm-3 {
    margin-bottom: var(--spacing-s);
  }

  /* 40px */
  .mb-sm-6 {
    margin-bottom: var(--spacing-2xl);
  }

  /* 32px */
  .mb-sm-10 {
    margin-bottom: var(--spacing-xl) !important;
  }

  /* 24px */
  .mb-sm-4 {
    margin-bottom: var(--spacing-l);
  }

  /* 40px */
  .mb-sm-6 {
    margin-bottom: var(--spacing-2xl);
  }

  /* 48px */
  .mb-sm-5 {
    margin-bottom: var(--spacing-3xl);
  }

  /* 84px */
  .mb-sm-12 {
    margin-bottom: var(--spacing-15);
  }

  /* -12px */
  .mx-sm-n-3 {
    margin-left: var(--spacing-n-2);
    margin-right: var(--spacing-n-2);
  }

  /* border */
  .border-sm-bottom {
    border-bottom: solid 1px var(--neutral-300);
  }
}

/* RWD 768px */
@media (min-width: 768px) {
  /* 12px */
  .px-md-7 {
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
  }

  /* -12px */
  .mx-md-n-3 {
    margin-left: var(--spacing-n-2);
    margin-right: var(--spacing-n-2);
  }
}

/* RWD 1200px */
@media (min-width: 1200px) {
  /* 120px */
  .py-xl-20 {
    padding-top: var(--spacing-21);
    padding-bottom: var(--spacing-21);
  }

  /* 80px */
  .px-xl-19 {
    padding-left: var(--spacing-6xl) !important;
    padding-right: var(--spacing-6xl) !important;
  }
}
