:root {
  /* 
  =============
  !!!!!顏色!!!!!
  =============
  */
  /* primary */
  --primary-100: #f5fee7;
  --primary-200: #e8fec5;
  --primary-300: #c0fa73;
  --primary-400: #57a203;
  --primary-500: #477a11;
  /* neutral */
  --neutral-0: #ffffff;
  --neutral-100: #f8f9fa;
  --neutral-200: #e9ecef;
  --neutral-300: #dee2e6;
  --neutral-400: #ced4da;
  --neutral-500: #adb5bd;
  --neutral-600: #6c757d;
  --neutral-700: #495057;
  --neutral-800: #343a40;
  --neutral-900: #212529;
  /* functional */
  /* danger */
  --functional-dnager-100: #fcf1f1;
  --functional-dnager-200: #eba7a7;
  --functional-dnager-300: #d74f4f;
  /* warning */
  --functional-warning-100: #d74f4f;
  --functional-warning-200: #fef6ec;
  --functional-warning-300: #f38b12;
  /* success */
  --functional-success-100: #eff8f4;
  --functional-success-200: #9ad1ba;
  --functional-success-300: #36a375;
  /* info */
  --functional-info-100: #eef5fc;
  --functional-info-200: #97c3ed;
  --functional-info-300: #3087db;
  /* black */
  --black-rgb: 0, 0, 0;
  --neutral-900-rgb: 33, 37, 41;
  /* RGB */
  --mask-black-o40: rgba(var(--black-rgb), 0.4);
  --disabled-neutral-900-o40: rgba(var(--neutral-900-rgb), 0.4);

  /* 
  =================
  !!!!!字體尺寸!!!!!
  =================
  */
  /* 基底 */
  --general-size-base: 1rem;
  /* 大尺寸 */
  /* 64px */
  --display-1: calc(var(--general-size-base) * 4);
  /* 48px */
  --display-2: calc(var(--general-size-base) * 3);
  /* 一般尺寸 */
  /* 40px */
  --fs-1: calc(var(--general-size-base) * 2.5);
  /* 32px */
  --fs-2: calc(var(--general-size-base) * 2);
  /* 28px */
  --fs-3: calc(var(--general-size-base) * 1.75);
  /* 24px */
  --fs-4: calc(var(--general-size-base) * 1.5);
  /* 20px */
  --fs-5: calc(var(--general-size-base) * 1.25);
  /* 16px */
  --fs-6: var(--general-size-base);
  /* 小尺寸 */
  /* 14px */
  --fs-7: calc(var(--general-size-base) * 0.875);
  /* 12px */
  --fs-8: calc(var(--general-size-base) * 0.75);

  /* 
  =============
  !!!!!行高!!!!!
  =============
  */
  --lh-1p5: 1.5;
  --lh-1p2: 1.2;

  /* 
  =============
  !!!!!字距!!!!!
  =============
  */
  --ls-5: 0.05em;

  /* 
  =============
  !!!!!間距!!!!!
  =============
  */
  /* 110px */
  --spacing-22: calc(var(--general-size-base) * 6.875);
  /* 120px */
  --spacing-21: calc(var(--general-size-base) * 7.5);
  /* 10px */
  --spacing-20: calc(var(--general-size-base) * 0.625);
  /* 85px */
  --spacing-19: calc(var(--general-size-base) * 5.3125);
  /* 6px */
  --spacing-18: calc(var(--general-size-base) * 0.375);
  /* 155px */
  --spacing-17: calc(var(--general-size-base) * 9.6875);
  /* 153px */
  --spacing-16: calc(var(--general-size-base) * 9.5625);
  /* 84px */
  --spacing-15: calc(var(--general-size-base) * 5.25);
  /* 100px */
  --spacing-14: calc(var(--general-size-base) * 6.25);
  /* 200px */
  --spacing-13: calc(var(--general-size-base) * 12.5);
  /* 288px */
  --spacing-hero: calc(var(--general-size-base) * 18);
  /* 80px */
  --spacing-6xl: calc(var(--general-size-base) * 5);
  /* 64px */
  --spacing-5xl: calc(var(--general-size-base) * 4);
  /* 56px */
  --spacing-4xl: calc(var(--general-size-base) * 3.5);
  /* 48px */
  --spacing-3xl: calc(var(--general-size-base) * 3);
  /* 40px */
  --spacing-2xl: calc(var(--general-size-base) * 2.5);
  /* 32px */
  --spacing-xl: calc(var(--general-size-base) * 2);
  /* 24px */
  --spacing-l: calc(var(--general-size-base) * 1.5);
  /* 16px */
  --spacing-s: var(--general-size-base);
  /* 12px */
  --spacing-m: calc(var(--general-size-base) * 0.75);
  /* 8px */
  --spacing-xs: calc(var(--general-size-base) * 0.5);
  /* 4px */
  --spacing-xxs: calc(var(--general-size-base) * 0.25);
  /* 0px */
  --spacing-0: 0px;

  /* 負值 */
  /* -4px */
  --spacing-n-xxs: calc(var(--general-size-base) * (-0.25));
  /* -6px */
  --spacing-n-1: calc(var(--general-size-base) * (-0.375));
  /* -12px */
  --spacing-n-2: calc(var(--general-size-base) * (-0.75));
  /* -8px */
  --spacing-n-3: calc(var(--general-size-base) * (-0.5));

  /* 
  =============
  !!!!!圓角!!!!!
  =============
  */
  /* 4px */
  --radius-sm: calc(var(--general-size-base) * 0.25);

  /* 12px */
  --radius-md: calc(var(--general-size-base) * 0.75);

  /* 
  =============
  !!!!!寬度!!!!!
  =============
  */

  /* 300px */
  --max-m-1: calc(var(--general-size-base) * 18.75);

  /* 196px */
  --max-m-2: calc(var(--general-size-base) * 12.25);

  /* 526px */
  --max-m-3: calc(var(--general-size-base) * 32.875);

  /* 64px */
  --max-m-4: calc(var(--general-size-base) * 4);

  /* 120px */
  --max-m-5: calc(var(--general-size-base) * 7.5);

  /* 636px */
  --max-m-6: calc(var(--general-size-base) * 39.75);

  /* 
  =============
  !!!!!圓角!!!!!
  =============
  */
  --border-radius-1: calc(var(--general-size-base) * 0.25);
}
